html {
  font-size: 14px;
  color: #543310;
  font-family: 'DynaPuff', system-ui;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #3f2305;
  height: 100vh;
}
button {
  cursor: pointer;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #3f2305;
}
header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 70px;
  justify-content: end;
  align-items: end;
  padding: 10px;
  border-bottom: 5px solid #f8f4e1;
  border-left: 5px solid #f8f4e1;
  border-radius: 20px;

  h1 {
    margin: 0;
    color: #f8f4e1;
    font-size: 30px;
  }
  .icon-title {
    margin-left: 10px;
    height: 50px;
  }
}
.wrap {
  background-color: #f8f4e1;
  border-radius: 30px;
  width: 80%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
  margin: 10px auto;
  border-radius: 50px;
  background-color: none;

  button {
    height: 60px;
    padding: 0px;
    width: 100%;
    background-color: #543310;
    border: none;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    color: #f8f4e1;
    font-family: 'DynaPuff', system-ui;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover {
    background-color: #755839;
  }
  button:active {
    background-color: #a37d55;
  }

  input {
    font-family: 'DynaPuff', system-ui;
    color: #543310;
    text-align: center;
    width: 80%;
    font-size: 30px;
    list-style: none;
    overflow: hidden;
    border: none;
    border-radius: 20px;
    padding: 30px;
    border: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  h3 {
    margin: auto;
    color: #543310;
    font-size: 30px;
  }
}
#todo-list {
  display: flex;
  flex-direction: column;
  background-color: #543310;
  margin: 10px auto;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  padding: 10px;
  width: 90%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 90%;
    margin-bottom: 5px;
    border-radius: 30px;
    background-color: #ffffff;

    li {
      font-family: 'DynaPuff', system-ui;
      overflow: hidden;
      border: none;
      color: #543310;
      font-size: 20px;
      padding: 5px;
      border-radius: 30px;
      font-weight: 500;
      text-align: center;
      width: 80%;
      overflow: hidden;
    }
    p#no-task-message {
      color: #543310;
      font-size: 30px;
      background-color: white;
      padding: 30px;
      border-radius: 20px;
      text-align: center;
      width: 300px;
    }
    button {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #543310;
      border: none;
      border-radius: 50%;
      background: none;
      cursor: pointer;
      i {
        margin-top: 0px;
        font-size: 20px;
      }
    }
    .time-container {
      color: #3f2305;
      position: relative;
      bottom: 20px;
      font-size: 15px;
      z-index: 99;
    }
  }
}
section#add-task {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  div#edit {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    width: 90%;
    max-width: 800px;
    height: fit-content;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #543310;
    h1 {
      z-index: 10;
      margin: 10px auto;
      color: #f8f4e1;
      font-size: 30px;
      border-bottom: 5px solid #f8f4e1;
    }
    label {
      color: #f8f4e1;
      font-size: 20px;
      margin: 10px;
    }

    input {
      font-family: 'DynaPuff', system-ui;
      overflow: hidden;
      margin: auto;
      background-color: #f8f4e1;
      border: none;
      color: #543310;
      height: 30px;
      font-size: 22px;
      padding: 10px;
      border-radius: 20px;
      font-weight: 500;
      text-align: center;
      width: 90%;
      overflow: hidden;
    }
    div.btn {
      display: flex;
      margin-right: 5%;
      justify-content: end;
      button {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #543310;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        background: none;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        background-color: #f8f4e1;
        font-size: 15px;
      }
    }
  }
}

@keyframes small2big {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#add {
  animation-name: small2big;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
